<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Details for <%= "#{@contact.first_name.downcase.capitalize} #{@contact.last_name.downcase.capitalize}" %></h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= "#{@contact.first_name.downcase.capitalize} #{@contact.last_name.downcase.capitalize}" %></td>
      <td><%= @contact.email %></td>
      <td>
      <% if @contact.phone_number =~ /\d{10}/ %>
        <%= "(#{@contact.phone_number[0..2]}) #{@contact.phone_number[3..5]}-#{@contact.phone_number[6..9]}" %>
      <% else %>
        <%= @contact.phone_number %>
      <% end %>
      </td>
      <td><%= @contact.address %></td>
      <td><%= link_to 'Edit', edit_contact_path(@contact) %></td>
      <td><%= link_to 'Back', contacts_path %></td>
    </tr>
  </tbody>
</table>
